#header {
    background-color: forestgreen;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    padding: 2px;
}

#menu {
    background-color: lightblue;
    /*color:lightcyan;*/
}

#sidebar {
    float: right;
    margin: 10px;
    padding: 5px;
    border: dotted 3px darkblue;
    background-color: lightblue;
}

#content {
    float: left;
    margin: 10px;
}

#footer {
    text-align: center;
    color: blue;
    clear: both;
}
